<div class="container">
  <alert-sucess [hidden]="!showMessageSuccess" >
    O empregado <strong>{{employee?.name}}</strong> foi cadastrado com sucesso!
  </alert-sucess>

  <div class="row">
    <h1>Listagem de empregados</h1>
    <table class="table" >
      <thead>
        <tr colspan="3">
          <button class="btn btn-primary" (click)="openNewModal()" >Novo Empregado</button>
        </tr>
        <tr>
          <th>Nome</th>
          <th>Salario</th>
          <th>Bonus</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of  employeeService.employees;let i=index;" [id]="'tr'+i" >
            <td>{{employee.name | uppercase }} </td>
            <td [salaryColor]="employee.salario" >{{employee.salario | myCurrency}}</td>
<!--            <td [style.color]="getSalarioColor(employee)">{{employee.salario}}</td>-->
<!--            <td [ngClass]="{'salario-alto': employee.salario > 20000, 'salario-baixo': employee.salario  < 1000 }" >{{employee.salario}}</td>-->
            <td>{{employee.bonus}}</td>
            <td> <a href="javascript:void(0)" (click)="openEditModal(employee)">Editar</a> |
          <a href="javascript:void(0)" (click)="openDestroyModal(employee)">Excluir</a> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<employee-new-modal (onSubmit)="onNewEmployee($event)" ></employee-new-modal>
<employee-edit-modal   [employee]="employeeToEdit"   (onSubmit)="onEditEmployee($event)" ></employee-edit-modal>
<employee-delete-modal [employee]="employeeToDelete" (onDestroy)="onDestroyEmployee($event)" ></employee-delete-modal>
